@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

ol {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

/*! ______ОБНУЛЕНИЕ______ */
.container {
  max-width: 1530px;
  padding: 0 30px;
  margin: 0 auto;
}
@media (max-width: 956px) {
  .container {
    padding: 0 20px;
  }
}

.btn {
  font-size: 18px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 11px 5px 15px;
  border-radius: 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #000;
  background: transparent;
}
.btn:hover {
  background: #3056d3;
  color: #fff;
}
.btn:hover svg {
  fill: #fff !important;
}
.btn svg {
  width: 30px;
  height: 30px;
  display: inline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 0 0 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn--main {
  font-size: 20px;
  padding: 0 40px;
  color: #fff;
  background: #007bfb;
  height: 70px;
}
@media (max-width: 956px) {
  .btn--main {
    height: 50px;
    padding: 0 30px;
  }
}
.btn--main svg {
  fill: #fff !important;
}
.btn--contact {
  color: #007bfb;
}
.btn--contact svg {
  fill: #007bfb !important;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 100px;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat";
  font-family: "Inter";
  font-size: 24px;
  background: #efefef;
  font-weight: 500;
}

.header {
  position: fixed;
  top: 0;
  z-index: 100;
  left: 0;
  width: 100%;
  padding: 30px 0;
  background: #fff;
}
@media (max-width: 956px) {
  .header {
    padding: 15px 0;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 12px 0;
  }
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__img {
  margin-right: 3px;
  width: 32px;
  height: 32px;
}
@media (max-width: 768px) {
  .header__img {
    width: 24px;
    height: 24px;
  }
}
.header__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__img svg {
  width: 32px;
  height: 32px;
  fill: #0057ff;
}
@media (max-width: 768px) {
  .header__img svg {
    width: 24px;
    height: 24px;
  }
}
.header__name {
  font-weight: 900;
  font-size: 32px;
}
@media (max-width: 768px) {
  .header__name {
    font-size: 22px;
  }
}
.header__button {
  position: relative;
  border-radius: 10px;
  padding: 5px 17px 5px 5px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  background: #fff;
}
.header__button:before {
  position: absolute;
  content: "";
  top: 9px;
  right: 4px;
  display: block;
  width: 8px;
  height: 8px;
  border-right: 1px solid;
  border-bottom: 1px solid;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.first {
  padding: 100px 0;
}
@media (max-width: 956px) {
  .first {
    padding: 30px 0;
    padding: 30px 0 60px 0;
  }
}
.first__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 956px) {
  .first__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.first__left {
  width: 100%;
  max-width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media (max-width: 956px) {
  .first__left {
    max-width: none;
  }
}
.first__title {
  font-weight: 900;
  font-size: 60px;
  line-height: 120%;
  font-size: 60px;
}
@media (max-width: 1400px) {
  .first__title {
    font-size: calc(28px + 32 * (100vw - 320px) / 1080);
  }
}
@media (max-width: 956px) {
  .first__title {
    text-align: center;
  }
}
.first__subtitle {
  line-height: 150%;
  font-weight: 400;
  max-width: 550px;
  font-size: 24px;
}
@media (max-width: 1400px) {
  .first__subtitle {
    font-size: calc(18px + 6 * (100vw - 320px) / 1080);
  }
}
@media (max-width: 956px) {
  .first__subtitle {
    text-align: center;
    max-width: none;
    margin-bottom: 20px;
  }
}
.first__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 450px;
  width: 100%;
}
@media (max-width: 956px) {
  .first__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    max-width: none;
  }
}
@media (max-width: 956px) {
  .first__btns--desktop {
    display: none;
  }
}
.first__right {
  width: 100%;
  max-width: 55%;
}
@media (max-width: 956px) {
  .first__right {
    max-width: none;
  }
}
.first__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.first__btns--mobile {
  display: none;
}
@media (max-width: 956px) {
  .first__btns--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.trust {
  margin-bottom: 160px;
}
@media (max-width: 956px) {
  .trust {
    margin-bottom: 80px;
  }
}
.trust__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.trust__main {
  padding: 24px 32px;
  border-radius: 24px;
  border: 0.8px solid rgb(206, 206, 206);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.trust__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font-weight: 700;
  font-size: 18px;
  gap: 12px;
}
.trust__subtitle--logo {
  width: 30px;
  height: 30px;
}
.trust__subtitle--logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.trust__subtitle--text {
  padding-bottom: 4px;
}
.trust__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 768px) {
  .trust__line {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.trust__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.trust__block--logo {
  width: 32px;
  height: 32px;
}
.trust__block--logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.trust__block--text {
  font-weight: 600;
  font-size: 16px;
}

.partners {
  margin-bottom: 160px;
}
@media (max-width: 768px) {
  .partners {
    margin-bottom: 80px;
  }
}
.partners__title {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .partners__title {
    margin-bottom: 30px;
    font-size: 28px;
  }
}
.partners__main {
  width: 100%;
  max-width: 100%;
  overflow-x: scroll; /*для вертикального*/
  -ms-overflow-style: none;
}
.partners__main::-webkit-scrollbar {
  width: 0;
}
.partners__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.partners__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background: #fff;
  border-radius: 20px;
}
.partners__block--logo {
  width: 40px;
  height: 40px;
}
.partners__block--logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.partners__block--text {
  font-weight: 700;
  font-size: 32px;
}

.blue {
  margin-bottom: 160px;
  padding: 85px 0;
  background-color: #007bfb;
}
@media (max-width: 768px) {
  .blue {
    margin-bottom: 80px;
    padding: 70px 0;
  }
}
.blue__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
@media (max-width: 956px) {
  .blue__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 60px;
  }
}
.blue__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 470px;
          flex: 0 1 470px;
}
@media (max-width: 956px) {
  .blue__block {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}
.blue__top {
  min-height: 62px;
  margin-bottom: 16px;
}
@media (max-width: 956px) {
  .blue__top {
    min-height: auto;
  }
}
.blue__title {
  color: #fff;
  font-weight: 900;
  font-size: 40px;
  white-space: nowrap;
  font-size: 40px;
}
@media (max-width: 1400px) {
  .blue__title {
    font-size: calc(32px + 8 * (100vw - 320px) / 1080);
  }
}
.blue__subtitle {
  font-weight: 400;
  line-height: 150%;
  color: #fff;
  max-width: 330px;
  font-size: 24px;
}
@media (max-width: 1400px) {
  .blue__subtitle {
    font-size: calc(18px + 6 * (100vw - 320px) / 1080);
  }
}
@media (max-width: 956px) {
  .blue__subtitle {
    max-width: none;
  }
}
.blue__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
@media (max-width: 455px) {
  .blue__imgs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.blue__title--small {
  font-size: 32px;
  font-weight: 700;
}

.text {
  margin-bottom: 160px;
}
@media (max-width: 768px) {
  .text {
    margin-bottom: 80px;
  }
}
.text__subtitle {
  text-align: center;
  line-height: 150%;
  max-width: 980px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .text__subtitle {
    font-size: 18px;
  }
}

.why {
  margin-bottom: 160px;
}
@media (max-width: 956px) {
  .why {
    margin-bottom: 80px;
  }
}
.why__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.why__title {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 20px;
}
@media (max-width: 956px) {
  .why__title {
    margin-bottom: 0px;
    font-size: 30px;
    text-align: center;
  }
}
.why__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 40px;
  background: #fff;
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 956px) {
  .why__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 25px 20px;
  }
}
.why__logo {
  width: 277px;
  height: 277px;
}
@media (max-width: 956px) {
  .why__logo {
    width: 200px;
    height: 200px;
  }
}
.why__logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.why__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  font-weight: 400;
  line-height: 150%;
  font-size: 24px;
}
@media (max-width: 1400px) {
  .why__info {
    font-size: calc(18px + 6 * (100vw - 320px) / 1080);
  }
}
.why__info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  margin-left: 20px;
}
.why__info ul li {
  font-weight: 400;
  line-height: 150%;
}
.why__subtitle {
  font-size: 32px;
  font-weight: 900;
  line-height: 120%;
  font-size: 32px;
}
@media (max-width: 1400px) {
  .why__subtitle {
    font-size: calc(28px + 4 * (100vw - 320px) / 1080);
  }
}
@media (max-width: 956px) {
  .why__subtitle {
    text-align: center;
  }
}
.why__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media (max-width: 956px) {
  .why__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.why__block {
  background-color: #323d46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  padding: 40px;
  border-radius: 20px;
}
@media (max-width: 956px) {
  .why__block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 20px;
  }
}
.why__block .why__info {
  color: #fff;
}
.why__logo--bot {
  width: 160px;
  height: 160px;
}
.why__logo--bot img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.why__block--right {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  padding: 40px;
  border-radius: 20px;
  max-width: 40%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
@media (max-width: 956px) {
  .why__block--right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: none;
    padding: 25px 20px;
  }
}
.why__block--right .why__info {
  color: #000000;
}
.why__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.why__button {
  margin-top: 32px;
}

.faq {
  margin-bottom: 160px;
}
@media (max-width: 956px) {
  .faq {
    margin-bottom: 80px;
  }
}
.faq__title {
  margin-bottom: 100px;
  font-size: 52px;
  font-weight: 700;
  text-align: center;
}
.faq__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}
@media (max-width: 956px) {
  .faq__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.faq__left {
  position: relative;
  width: 395px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 395px;
          flex: 0 0 395px;
}
@media (max-width: 956px) {
  .faq__left {
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}
.faq__left--inner {
  position: sticky;
  top: 140px;
  left: 0;
  background-color: rgba(167, 234, 255, 0.2);
  padding: 40px;
  border-radius: 20px;
}
@media (max-width: 956px) {
  .faq__left--inner {
    position: static;
    padding: 25px;
  }
}
.faq__subtitle {
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 20px;
  color: #323d46;
}
.faq__text {
  margin-bottom: 20px;
  line-height: 140%;
  font-size: 18px;
  font-weight: 400;
  color: #323d46;
}
.faq__text span {
  font-weight: 600;
}
.faq__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  gap: 12px;
  background: #fff;
  border-radius: 16px;
}
.faq__button--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.faq__button--title {
  color: #34aadf;
  font-size: 16px;
}
.faq__button--subtitle {
  color: rgb(130, 178, 200);
  font-size: 12px;
}
.faq__button--icon {
  padding: 5px;
  background-color: #34aadf;
  border-radius: 99px;
  aspect-ratio: 1/1;
  width: 30px;
  height: 30px;
}
.faq__button--icon svg {
  width: 100%;
  height: 100%;
}
.faq__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.faq__spoiler {
  padding-bottom: 40px;
}
.faq__spoiler--head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  font-size: 24px;
}
@media (max-width: 1400px) {
  .faq__spoiler--head {
    font-size: calc(18px + 6 * (100vw - 320px) / 1080);
  }
}
.faq__spoiler--head span {
  position: relative;
  height: 24px;
  width: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  aspect-ratio: 1/1;
}
.faq__spoiler--head span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.faq__spoiler--head span::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: #000;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.faq__spoiler--body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.faq__spoiler--body--inner {
  font-size: 18px;
  line-height: 140%;
  padding-bottom: 15px;
}
@media (max-width: 956px) {
  .faq__spoiler--body--inner {
    color: #000;
    opacity: 0.8;
  }
}
.faq ._spoilerOpen .faq__spoiler--head span {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.footer {
  padding: 60px 0 40px 0;
  background: #000;
}
@media (max-width: 768px) {
  .footer {
    padding: 40px 0 40px 0;
  }
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #323d46;
}
@media (max-width: 768px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    padding-bottom: 24px;
    margin-bottom: 24px;
  }
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.footer__img {
  width: 28px;
  height: 28px;
  margin-right: 3px;
}
@media (max-width: 768px) {
  .footer__img {
    width: 24px;
    height: 24px;
  }
}
.footer__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__img svg {
  fill: #fff !important;
}
.footer__name {
  font-weight: 900;
  color: #fff;
  font-size: 26px;
}
@media (max-width: 768px) {
  .footer__name {
    font-size: 22px;
  }
}
.footer__subtitle {
  color: #a1a1a1;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.footer__text {
  color: #a1a1a1;
  max-width: 320px;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  font-weight: 400;
}
.footer__copyright {
  color: #a1a1a1;
  font-size: 16px;
}